# Import Libraries and Dataset

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [11]:
salary = pandas.read_csv('C:/Users/HamzaArham/Downloads/DataSet_OF_Salaries.csv')

In [10]:
salary

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S
10,10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
13,13,2020,MI,FT,Lead Data Analyst,87000,USD,87000,US,100,US,L
14,14,2020,MI,FT,Data Analyst,85000,USD,85000,US,100,US,L
15,15,2020,MI,FT,Data Analyst,8000,USD,8000,PK,50,PK,L
16,16,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
17,17,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
18,18,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
19,19,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M
20,20,2020,MI,FT,Machine Learning Engineer,299000,CNY,43331,CN,0,CN,M
21,21,2020,MI,FT,Product Data Analyst,450000,INR,6072,IN,100,IN,L
22,22,2020,SE,FT,Data Engineer,42000,EUR,47899,GR,50,GR,L
23,23,2020,MI,FT,BI Data Analyst,98000,USD,98000,US,0,US,M
24,24,2020,MI,FT,Lead Data Scientist,115000,USD,115000,AE,0,AE,L
25,25,2020,EX,FT,Director of Data Science,325000,USD,325000,US,100,US,L
26,26,2020,EN,FT,Research Scientist,42000,USD,42000,NL,50,NL,L
27,27,2020,SE,FT,Data Engineer,720000,MXN,33511,MX,0,MX,S
28,28,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
29,29,2020,SE,FT,Machine Learning Manager,157000,CAD,117104,CA,50,CA,L
...,...,...,...,...,...,...,...,...,...,...,...,...
577,577,2022,SE,FT,Data Analyst,150075,USD,150075,US,100,US,M
578,578,2022,SE,FT,Data Engineer,100000,USD,100000,US,100,US,M
579,579,2022,SE,FT,Data Engineer,25000,USD,25000,US,100,US,M
580,580,2022,SE,FT,Data Analyst,126500,USD,126500,US,100,US,M
581,581,2022,SE,FT,Data Analyst,106260,USD,106260,US,100,US,M
582,582,2022,SE,FT,Data Engineer,220110,USD,220110,US,100,US,M
583,583,2022,SE,FT,Data Engineer,160080,USD,160080,US,100,US,M
584,584,2022,SE,FT,Data Analyst,105000,USD,105000,US,100,US,M
585,585,2022,SE,FT,Data Analyst,110925,USD,110925,US,100,US,M
586,586,2022,MI,FT,Data Analyst,35000,GBP,45807,GB,0,GB,M
587,587,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
588,588,2022,SE,FT,Data Analyst,99000,USD,99000,US,0,US,M
589,589,2022,SE,FT,Data Analyst,60000,USD,60000,US,100,US,M
590,590,2022,SE,FT,Data Architect,192564,USD,192564,US,100,US,M
591,591,2022,SE,FT,Data Architect,144854,USD,144854,US,100,US,M
592,592,2022,SE,FT,Data Scientist,230000,USD,230000,US,100,US,M
593,593,2022,SE,FT,Data Scientist,150000,USD,150000,US,100,US,M
594,594,2022,SE,FT,Data Analytics Manager,150260,USD,150260,US,100,US,M
595,595,2022,SE,FT,Data Analytics Manager,109280,USD,109280,US,100,US,M
596,596,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
597,597,2022,SE,FT,Data Analyst,170000,USD,170000,US,100,US,M
598,598,2022,MI,FT,Data Scientist,160000,USD,160000,US,100,US,M
599,599,2022,MI,FT,Data Scientist,130000,USD,130000,US,100,US,M
600,600,2022,EN,FT,Data Analyst,67000,USD,67000,CA,0,CA,M
601,601,2022,EN,FT,Data Analyst,52000,USD,52000,CA,0,CA,M
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

---

## Drop unwanted column

In [ ]:
salary.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
salary

---

# Checking Dataset

In [ ]:
salary.isnull().sum()

In [ ]:
salary.info()

In [ ]:
salary.shape

---

**Average of Data Science Job Salaries (USD)**

In [ ]:
salary['salary_in_usd'].mean()

**Maximum Data Science Job Salaries (USD)**

In [ ]:
salary['salary_in_usd'].max()

**Minimum Data Science Job Salaries (USD)**

In [ ]:
salary['salary_in_usd'].min()

**Information of people who get the most Salaries (USD)**

In [ ]:
salary[salary['salary_in_usd'] == salary['salary_in_usd'].max()]

**Information of people who get the least Salaries (USD)**

In [ ]:
salary[salary['salary_in_usd'] == salary['salary_in_usd'].min()]

# ------Additional analysis with graph---------

**Amount of data kept in years**

In [ ]:
salary['work_year'].value_counts()

In [ ]:
sns.countplot(x='work_year',data=salary)

**Data Science Job Average Salaries Per Year (USD)**

In [ ]:
salary_per_year = salary.groupby('work_year').mean()['salary_in_usd'].reset_index().sort_values(by='salary_in_usd')
salary_per_year

In [ ]:
plt.figure(figsize=(12,6))
plt.title("Average Salary of Data Science Jobs per Year")
sns.barplot(x=salary_per_year['work_year'], y=salary_per_year['salary_in_usd'])
plt.xlabel("Year")
plt.ylabel("Number of Average Salary in USD")

In [ ]:
sns.violinplot(x='work_year',y='salary_in_usd',data=salary,palette='rainbow')

The amount of salary is gaining every year.

In [ ]:
sns.distplot(salary['salary_in_usd'])

The Average of Data Science Jobs Salary is around 100,000 USD

**Amount of Data Science Job Titles**

In [ ]:
salary['job_title'].nunique()

**List of Data Science Job Titles**

In [ ]:
salary['job_title'].unique()

**Top 10 most Data Science Jobs**

In [ ]:
salary['job_title'].value_counts().head(10)

**Top 10 Highest Average of Data Science Jobs**

In [ ]:
salary.groupby('job_title').mean()['salary_in_usd'].reset_index().sort_values(['salary_in_usd'],ascending=False)\
.head(10)

**Country of Company location that Data Science Employees are in**

In [ ]:
salary['company_location'].nunique()

**Top 10 Country of Company location that Data Science Employees are in**

In [ ]:
salary['company_location'].value_counts().head(10)

**Top 10 Data Science Job Titles in US**

In [ ]:
salary[(salary['company_location']=='US')]['job_title'].value_counts().head()

In [ ]:
salary['employee_residence'].value_counts().head(10)

**Amount of Experience Level**

In [ ]:
salary['experience_level'].value_counts()

In [ ]:
sns.countplot(x='experience_level', data=salary)

**Average Salary (USD) Based on Experience Level**

In [ ]:
explvl_sal = salary.groupby('experience_level').mean()['salary_in_usd'].reset_index().sort_values(['salary_in_usd'])
explvl_sal

In [ ]:
plt.figure(figsize=(9,6))
plt.title("Average Salary of Data Science Jobs by Experience Level")
sns.barplot(x=explvl_sal['experience_level'], y=explvl_sal['salary_in_usd'])
plt.xlabel("Experience Level")
plt.ylabel("Number of Average Salary in USD")

**Amount of Employment Type**

In [ ]:
salary['employment_type'].value_counts()

In [ ]:
sns.countplot(x='employment_type', data=salary)

**Amount of Company Size**

In [ ]:
salary['company_size'].value_counts()

In [ ]:
sns.countplot(x='company_size', data=salary)

**Average Salary (USD) based on Company Size**

In [ ]:
mean_sal_com = salary.groupby('company_size').mean()['salary_in_usd'].reset_index()
mean_sal_com

In [ ]:
plt.figure(figsize=(8,6))
plt.title("Average Salary of Data Science Jobs by Company Size")
sns.barplot(x=mean_sal_com['company_size'], y=mean_sal_com['salary_in_usd'])
plt.xlabel("Company Size")
plt.ylabel("Number of Average Salary in USD")

**Top 10 Countries that Have Most Averaged Data Science Job Salaries**

In [ ]:
ds_cntry_sal = salary.groupby('company_location').mean()['salary_in_usd'].reset_index().sort_values\
(['salary_in_usd'],ascending=False).head(10)
ds_cntry_sal

According from ISO 3166-1 country codes
1. Russia
2. USA
3. New Zealand
4. Israel
5. Japan
6. Australia
7. United Arab Emirates
8. Algeria
9. Iraq
10. Canada

In [ ]:
plt.figure(figsize=(14,6))
plt.title("High Average Salary of Data Science Jobs by Country")
sns.barplot(x=ds_cntry_sal['company_location'], y=ds_cntry_sal['salary_in_usd'])
plt.xlabel("Country")
plt.ylabel("Number of Average Salary in USD")

**Top 10 Countries that Have Least Averaged Data Science Job Salaries**

In [ ]:
ds_cntry_sal2 = salary.groupby('company_location').mean()['salary_in_usd'].reset_index().sort_values\
(['salary_in_usd'],ascending=True).head(10)
ds_cntry_sal2

According from ISO 3166-1 country codes
1. Vietnam
2. Iran
3. Kenya
4. Pakistan
5. Ukraine
6. Moldova
7. American Samoa
8. Brazil
9. Honduras
10. Turkey

In [ ]:
plt.figure(figsize=(14,6))
plt.title("Least Average Salary of Data Science Jobs by Country")
sns.barplot(x=ds_cntry_sal2['company_location'], y=ds_cntry_sal2['salary_in_usd'])
plt.xlabel("Country")
plt.ylabel("Number of Average Salary in USD")

**Amount of remote ratio work**

In [ ]:
salary['remote_ratio'].value_counts()

In [ ]:
sns.countplot(x='remote_ratio', data=salary)